// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.close-btn {
    position: absolute;
    border: none;
    background-color: transparent;
    left: 101%;
    transform: translateX(-101%);
}

.close-btn-size {
    height: auto;
    width: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-opties {
    background: #0078CC !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 10px !important;
    width: 15vw!important;
    //text-align: center !important;
    margin: auto !important;
}

.card-input-first-row{
    margin-right: 1%;
    margin-left: 1%;
    margin-top: -2px;
}

.picture-project{
    width:50%;
    margin-bottom: 2%;
    //text-align: center !important;
    //margin: auto !important;
    margin-left: auto;
    margin-right: auto;
}

.project-name{
    text-align: center;
}

.description-project{
    margin-bottom: -1px;
}

.card-input-description-long {
    margin-bottom: -1px;
}

.card-position-bottom-row{
    margin-top: -1%;
    align-content:center !important;
    margin-bottom: -15px;
}

.pictures{
    width: 90%;
    margin: auto !important;
}

.schoolYearTag{
    border: 4px solid #ccccff;
    border-radius: 5px;
    background-color: #ccccff;
    color: black;
}

.picture-project-carousel{
    height: 20vw;
    width: auto;
    margin: auto
}

.arrow:hover {
    background-color: #ffffff;
    transition-duration: 0.0s;
    border: 2px solid rgb(255,255,255);
}
.arrow:focus,
arrow:active{
    -moz-outline-style: none !important;
    border: 2px solid rgb(255,255,255) !important;
    outline: none !important;
    box-shadow: none !important;
}

.popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
}

.popup .content {
    position: absolute;
    top:-25vh;
    left:46vw;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width:30vw;
    height:fit-content;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
    border-radius: 10px !important;
}

.popup .close-btn-popup {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
}

.popup.active .overlay{
    display:block;
}

.popup.active .content{
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}

.button-popup {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:15px;
    font-size:18px;
    border:2px solid #222;
    color:#222;
    font-weight:600;
    background:#fff;
}

.button-option {
    width: 80vw !important;
}

.label-one{
    border: 4px solid palegreen;
    border-radius: 5px;
    background-color: palegreen;
    color: black;
}
.label-two{
    border: 4px solid skyblue;
    border-radius: 5px;
    background-color: skyblue;
    color: black;
}

